@page "/listadovehiculos"
@inject ListarVehiculoUseCase ListarVehiculoUseCase
@inject IJSRuntime JsRuntime;
@inject EliminarVehiculoUseCase EliminarVehiculoUseCase
@inject NavigationManager Navegador
@using ConcesionariaFinal.UI.Pages
<Index/>
<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>
<table class="table">
   <thead>
       <tr>
           <th>ID</th>
           <th>DOMINIO</th>
           <th>MARCA</th>
           <th>AÑO DE FABRICACION</th>
           <th>TITULAR ID</th>
           <th>ACCIÓN</th>
       </tr>
   </thead>
   <tbody>
       @foreach (var vehiculo in _lista)
       {
           <tr>
               <td>@vehiculo.Id</td>
               <td>@vehiculo.Dominio</td>
               <td>@vehiculo.Marca</td>
               <td>@vehiculo.AñoFabricacion</td>
               <td>@vehiculo.TitularId</td>
               <td>
                    <button class="btn btn-primary" @onclick="()=>ModificarVehiculo(vehiculo)">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(vehiculo)">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
           </tr>
       }
   </tbody>
</table>

@code {
    List<Vehiculo> _lista = new List<Vehiculo>();
    protected override void OnInitialized()
    {
        _lista = ListarVehiculoUseCase.Ejecutar();
    }

    DialogoConfirmacion dialogo = null!;
    Vehiculo? _VehiculoParaEliminar = null;

    private void ModificarVehiculo(Vehiculo vehiculo)
    {
        Navegador.NavigateTo($"vehiculo/{vehiculo.Id}");
    }

    private void ConfirmarEliminacion(Vehiculo vehiculo)
    {
        _VehiculoParaEliminar = vehiculo;
        dialogo.Mensaje = $"¿Desea eliminar el vehiculo de id {vehiculo.Id}?";
        dialogo.Mostrar();
    }
    private void Eliminar()
    {
        if (_VehiculoParaEliminar != null)
        {
            EliminarVehiculoUseCase.Ejecutar(_VehiculoParaEliminar.Id);
            _lista = ListarVehiculoUseCase.Ejecutar();
        }
    }
}
